#outline{
    /* padding-top: 1%; */
    background-image:  url('assests/homebg.jpg');
    height:745px;
   opacity:0.8;
   background-size:cover;
}
.registration-container {
    max-width: 400px;
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-right: 30px;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .in{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .error-message {
    color: #ff0000;
    font-size: 14px;
  }
  
  button[type='submit'] {
    display: block;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    background-color: #4ca0af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }